{% extends "news/base.html" %}

{% block content %}
    <div>
        <form method = "POST" action = "{% url 'voting' %}">
            {% csrf_token %}
            <option disabled>Choose the Position: </option>
            <select name = "drop1" >
                {% for pos in positions %}
                    <option value="{{ pos.pname }}">{{ pos.pname }}</option>
                {% endfor %}
            </select>
            <input  type = "submit" value="Submit">
            <h1>{{ val }}</h1>
        </form>


        <div>
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Positions</th>
                      <th scope="col">candidates</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for can in candidates %}
                        {% if val == can.pname %}
                          <tr>
                              <td>{{ can.id }}</td>
                              <td>{{  can.pname }}</td>
                          </tr>
                        {% endif %}
                  {% endfor %}

                  </tbody>
                </table>
        </div>
    </div>
{% endblock %}